.WaveComponent {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95%;
    margin-left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    height: 50vh;
}