.PhoneHead {
    .head {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 5vh;
        background-color: rgba(0, 0, 0, .1);
        padding: 0px 10px;

        img {
            display: flex;
            height: 80%;
        }

        img:nth-child(3) {
            display: flex;
            height: 60%;
        }
    }

    i {
        position: absolute;
        left: 5vw;
        top: 8vh;
        font-size: 16px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        font-style: italic
    }

    .bgImg {
        width: 100%;
    }

}