.MyButton {
    width: 100px;
    height: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    font-size: 18px;
    font-weight: 400;
}

.MyButtonUser {
    width: 15vw;
    height: 4vh;
    // background: rgba(255, 255, 255, 1);
    // color: rgba(0, 125, 82, 1);
    // font-size: 18px;
    // font-weight: 400;
}