.Chart {
    background-color: rgb(242, 242, 242);

    i {
        padding-bottom: 6px;
        margin-left: 10px;
        font-size: 4vw;
        color: rgba(0, 0, 0, 1);
        transition: all .3s;
    }

    i:hover {
        border-bottom: 1px solid rgb(75, 169, 70);
    }
}