.Record {
    overflow-x: auto;

    .space {
        width: 1px !important;
        height: 22px;
        margin-left: 61px;
        color: rgba(0, 0, 0, 1);
    }

    li:first-child {
        height: 10vh;

    }

    li {
        display: flex;
        width: calc(100vw + 300px);
        align-items: center;

        div {
            width: 18%;
            text-align: center;
        }

        div:last-child {
            .des {
                width: 420px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

        }
    }

    li:first-child {
        align-items: center;
        font-size: 4vw;
        font-weight: 600;
    }

    li:nth-child(2n-1) {
        background: rgb(246, 245, 245);
    }
}

.pagination {
    display: flex;
    justify-content: center;
    // width: 100vw;
    // margin-left: 50%;
    // transform: translateX(-50%);
    margin-bottom: 2vh;
}