.left {
    padding-top: 3vh;

    .space {
        font-size: 3vh;
        font-weight: 100;
        width: 100%;
        text-align: center;
        color: rgba(166, 166, 166, .5);

    }

    .lefthead {
        margin-top: 5px;
        width: 100%;
        text-align: center;
        font-size: 4vw;
        font-weight: 400;
    }
}