// @media screen and (max-aspect-ratio: 1/1) {
// }
// @import 'phone';
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

//横过来
@media screen and (min-aspect-ratio: 1/1) {
    .bgImg {
        display: none;
    }

    .PhoneHead {
        height: 0;
    }

    .HomeComponent {
        height: 60vh;

        ul li {
            height: 7vh;
        }
    }
}

//ipad
@media screen and (min-width:600px) {
    .ant-select-item {
        font-size: 3.5vw !important;
        line-height: 1.5715 !important;
    }

    .ant-dropdown-menu-title-content {
        a {
            font-size: 3vw;
            font-weight: 200;

        }
    }

    .ant-dropdown-menu-title-content {
        line-height: 3vh;
    }

    .right {


        .head li {
            margin: 0 5.5vw;
        }

        .head:nth-child(n+2) li {
            margin: 2.25vh 3vw;

        }

        .head:last-child li {
            margin: 5.5vw 5vw 0 8vw !important;
        }
    }

    .UserComponent2 .right {
        .head:nth-child(n+2) li {
            margin: 2.9vh 3vw;
        }
    }

    // @media screen and (min-aspect-ratio: 1/1) {
    //     @import 'pc';
    // }
    .HistogramChart ul {
        margin-left: 0vw;
    }
}