body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-aspect-ratio: 1 / 1) {
  .bgImg {
    display: none;
  }
  .PhoneHead {
    height: 0;
  }
  .Home .border {
    height: 62vh;
    width: 96vh;
  }
  .Home .HomeComponent {
    height: 60vh;
  }
  .Home .HomeComponent ul li {
    height: 7vh;
  }
  .Home .fuzhu {
    bottom: 25vh;
  }
  .setting {
    padding-top: 50px;
  }
  .UserComponent {
    padding-top: 50px;
  }
  .TSC {
    padding-top: 50px;
  }
  .Chart {
    padding-top: 50px;
  }
  .Record {
    padding-top: 50px;
  }
  .Warning {
    padding-top: 50px;
  }
}

@media screen and (min-width: 600px) {
  .ant-select-item {
    font-size: 3.5vw !important;
    line-height: 1.5715 !important;
  }
  .ant-dropdown-menu-title-content a {
    font-size: 3vw;
    font-weight: 200;
  }
  .ant-dropdown-menu-title-content {
    line-height: 3vh;
  }
  .right .head li {
    margin: 0 5.5vw;
  }
  .right .head:nth-child(n+2) li {
    margin: 2.25vh 3vw;
  }
  .right .head:last-child li {
    margin: 5.5vw 5vw 0 8vw !important;
  }
  .UserComponent2 .right .head:nth-child(n+2) li {
    margin: 2.9vh 3vw;
  }
  .HistogramChart ul {
    margin-left: 0vw;
  }
}
