.WarningTop {
    width: 95%;
    height: 10vh;
    background: rgb(246, 245, 245);
    border: 1px solid rgba(166, 166, 166, 1);

    .title {
        width: 100%;
        text-align: center;
        font-size: 2.5vw;
    }


}